body {
  font-family: 'Manrope', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ffffff;
  color: #333;
}

header {
  background-color: #222;
  color: white;
  padding: 20px 0;
  text-align: center;
}

header img {
  width: 120px;
}

header h1 {
  margin-top: 10px;
  font-size: 2.5rem;
  font-weight: 700;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: 20px auto;
}

.mySlides {
  display: none;
}

.mySlides img {
  width: 100%;
  border-radius: 8px;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation: fade 1.5s ease-in-out;
}

@keyframes fade {
  from { opacity: .4; }
  to { opacity: 1; }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main h1 {
  font-size: 1rem;
}

section h2 {
  /* color: #333; */
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: 600;
}

section p {
  font-size: 1.1rem;
  line-height: 1.6;
}

/* section img {
  display: block;
  margin: 20px auto;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
} */

button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 10px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

footer p {
  margin: 0;
  font-size: 1rem;
}

@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    padding: 0;
  }

  nav ul li {
    margin: 0;
  }

  .slideshow-container, main section {
    width: 100%;
  }
}
